@import 'normalize';

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Gilroy/Regular/Gilroy.woff2") format("woff2"), url("../fonts/Gilroy/Regular/Gilroy.woff") format("woff"), url("../fonts/Gilroy/Regular/Gilroy.ttf") format("ttf"), url("../fonts/Gilroy/Regular/Gilroy.otf") format("otf");
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Gilroy/Medium/Gilroy.woff2") format("woff2"), url("../fonts/Gilroy/Medium/Gilroy.woff") format("woff"), url("../fonts/Gilroy/Medium/Gilroy.ttf") format("ttf"), url("../fonts/Gilroy/Medium/Gilroy.otf") format("otf");
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Gilroy/Bold/Gilroy.woff2") format("woff2"), url("../fonts/Gilroy/Bold/Gilroy.woff") format("woff"), url("../fonts/Gilroy/Bold/Gilroy.ttf") format("ttf"), url("../fonts/Gilroy/Bold/Gilroy.otf") format("otf");
}

@font-face {
	font-family: 'HeliosBlackC';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/HeliosBlackC/HeliosBlackC.woff2") format("woff2"), url("../fonts/HeliosBlackC/HeliosBlackC.woff") format("woff"), url("../fonts/HeliosBlackC/HeliosBlackC.ttf") format("ttf"), url("../fonts/HeliosBlackC/HeliosBlackC.otf") format("otf");
}

@font-face {
	font-family: 'HeliosExtBlackC';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/HeliosExtBlackC/HeliosExtBlackC.woff2") format("woff2"), url("../fonts/HeliosExtBlackC/HeliosExtBlackC.woff") format("woff"), url("../fonts/HeliosExtBlackC/HeliosExtBlackC.ttf") format("ttf"), url("../fonts/HeliosExtBlackC/HeliosExtBlackC.otf") format("otf");
}

@font-face {
	font-family: 'HeliosExtC';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/HeliosExtC/HeliosExtC.woff2") format("woff2"), url("../fonts/HeliosExtC/HeliosExtC.woff") format("woff"), url("../fonts/HeliosExtC/HeliosExtC.ttf") format("ttf"), url("../fonts/HeliosExtC/HeliosExtC.otf") format("otf");
}

@font-face {
	font-family: 'Mandatory-Plaything';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/MandatoryPlaything/Mandatory-Plaything.woff2") format("woff2"), url("../fonts/MandatoryPlaything/Mandatory-Plaything.woff") format("woff"), url("../fonts/MandatoryPlaything/Mandatory-Plaything.ttf") format("ttf"), url("../fonts/MandatoryPlaything/Mandatory-Plaything.otf") format("otf");
}

@font-face {
	font-family: 'SparTakus';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/SparTakus/SparTakus.woff2") format("woff2"), url("../fonts/SparTakus/SparTakus.woff") format("woff"), url("../fonts/SparTakus/SparTakus.ttf") format("ttf"), url("../fonts/SparTakus/SparTakus.otf") format("otf");
}

html {
	scroll-behavior: smooth;
}

body {
	// font-family: 'Gilroy', sans-serif;
	// font-family: 'HeliosBlackC', sans-serif;
	// font-family: 'HeliosExtBlackC', sans-serif;
	// font-family: 'HeliosExtC', sans-serif;
	// font-family: 'Mandatory-Plaything', sans-serif;
	// font-family: 'SparTakus', sans-serif;
	font-family: 'Plus Jakarta Sans', sans-serif;
	background: #090812;	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'HeliosExtC', sans-serif;
}

span {
	display: block;
}

button {
	display: block;
	cursor: pointer;
	border: none;
}

button, input, select, option, textarea {
	font-family: 'HeliosBlackC', sans-serif;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto; 
}

.header {
	width: 100%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	padding: 40px 0;
	backdrop-filter: blur(120px);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link {
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: #fff;
	
	margin-right: 45px;
	transition: all .2s ease-out;
	position: relative;
	opacity: 0.7;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: '';
		display: block;
		width: 0px;
		height: 3px;
		background: #00dbde;
		box-shadow: 0px 0px 7px rgba(41, 183, 227, 0.33);
		transition: all .2s ease-out;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: -8px;
	}

	&:hover,
	&.active {
		opacity: 1;

		&:before {
			width: 30px;
		}
	}
}

.header__burger {
	display: none;
}

.hero {
	max-width: 100%;
	min-height: 100vh;
	background: url('../img/hero/hero.jpg') no-repeat top center
		/ cover fixed;
	padding: 265px 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero__content {
	width: 100%;
	max-width: 753px;
	padding-left: 61px;
	position: relative;
	z-index: 2;

	&:after {
		content: '';
		width: 100%;
		height: 495px;
		position: absolute;
		top: -20px;
		left: 0;
		z-index: -1;
		background: url('../img/hero/grid.svg') no-repeat;
	}
}

.suptitle {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
}

.hero__title {
	font-size: 48px;
	line-height: 67px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;

	margin: 16px 0 65px;

	img {
		vertical-align: middle;
	}
}

.btn {
	width: 100%;
	max-width: 209px;
	position: relative;
	display: inline-block;
	transition: all .3s ease-in-out;

	font-size: 18px;
	font-weight: 400;
	font-family: 'HeliosBlackC', sans-serif;
	text-align: center;
	line-height: 26px;
	
	color: #fff; 
	background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #fff;
	border-radius: 6px;
	padding: 17px 0;
	
	&:after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .3s ease-out; 
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(122, 66, 244, 0.4);

		&:after {
			transform: scaleX(1.4) scaleY(1.6);
    		opacity: 0;
		}
	}
}

.about {
	min-height: 100vh;
	background: url('../img/about/about.jpg') no-repeat center 
		/ cover fixed;
	padding: 200px 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.about__content {
	width: 100%;
	max-width: 612px;
	margin-left: 101px;
	padding-left: 61px;

	position: relative;
	z-index: 2;

	&:after {
		content: '';
		width: 675px;
		height: 595px;
		background: url('../img/about/grid.svg') no-repeat;
		position: absolute;
		top: -40px;
		left: 0;
		z-index: -1;
	}
}

.about__suptitle {
	margin-bottom: 16px;
}	

.title {
	font-size: 45px;
	line-height: 49px;
	text-transform: uppercase;
	color: #fff;
}

.about__text {
	margin: 27px 0 63px;
}

.text {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #fff;
	opacity: 0.8;
}

.about__footer {
	width: 100%;
	max-width: 415px;

	img {
		cursor: pointer;
	}
}

.about__chapter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0 0 8px;

	span {
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
		font-family: 'HeliosExtC', sans-serif;
		text-transform: uppercase;
		color: #fff;
	}
}

.roadmap {
	padding: 211px 0;
	background: url('../img/roadmap/background.png') no-repeat center 
		/ cover;
}

.roadmap__header {
	text-align: center;
	margin-bottom: 90px;
}

.roadmap__suptitle {
	margin-bottom: 19px;
}

.roadmap__items {
	padding: 0 10px;
	position: relative;

	&:after {
		content: '';
		width: 500px;
		height: 100%;
		background: url('../img/roadmap/waves.png') no-repeat;
		position: absolute;
		top: 0;
		left: 43%;
		z-index: 1;
		transform: translateX(-50%);
	}
}

.roadmap__item {
	width: 100%;
	max-width: 418px;
	margin-bottom: 90px;
	position: relative;
	
	&:nth-child(2) {
		max-width: 450px;
		margin-bottom: 29px;

		.roadmap__circle {
			background: url('../img/roadmap/circles/pink-circle.png') no-repeat;

			&:before {
				box-shadow: 0 4px 100px 40px rgba(255, 68, 236, 0.4);
			}
		}
	}

	&:nth-child(3) {
		max-width: 426px;
		margin-bottom: 231px;

		.roadmap__circle {
			background: url('../img/roadmap/circles/green-circle.png') no-repeat;

			&:before {
				box-shadow: 4px 14px 100px 40px rgba(68, 255, 199, 0.4);
			}
		}
	}

	&:last-child {	
		max-width: 513px;
		margin-bottom: 0;

		.roadmap__circle {
			background: url('../img/roadmap/circles/blue-circle.png') no-repeat;

			&:before {
				box-shadow: -20px -10px 100px 40px rgba(68, 255, 244, 0.4);
			}
		}
	}

	&--right {
		margin-left: auto;

		.roadmap__circle {
			left: -184px;
		}
	}
}

.roadmap__circle {
	display: block;
	width: 134px;
	height: 134px;
	border-radius: 100%;
	background: url('../img/roadmap/circles/violet-circle.png') no-repeat;
	position: absolute;
	top: -15px;
	right: -134px;
	z-index: 2;

	&:before {
		content: '';
		display: block;
		width: 95%;
		height: 95%;
		border-radius: 100%;
		box-shadow: 0 4px 100px 40px rgba(195, 68, 255, 0.5);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.roadmap__heading {
	font-size: 22px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	line-height: 31px;
	color: #fff;
	margin-bottom: 25px;

	&:first-child {
		margin-bottom: 20px;
	}
}

.roadmap-list__item {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 1px;
	color: #fff;
	opacity: 0.8;

	position: relative;
	padding-left: 36px;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		content: '';
		width: 24px;
		height: 24px;
		background: url('../img/roadmap/done.svg') no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	span {
		display: inline-block;
		margin-right: 32px;
	}
}

.roadmap__link {
	display: flex;
	justify-content: center;
	margin: 22px auto 0;
}

.brand {
	padding: 112px 0 192px;	
	background: url('../img/brand/background.jpg') no-repeat center 
		/ cover;
}

.brand__suptitle {
	margin-bottom: 24px;
}

.brand__cards {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.brand__card {
	width: 100%;
	max-width: 385px;
	text-align: center;
	z-index: 2;
}

.brand__img {
	display: block;
	margin: 0 auto;

	transition: all .2s ease-out;
	cursor: pointer;

	&:hover {
		transform: translateY(-10px);
	}
}

.brand__line {
	display: block;
	position: relative;
	width: 100%;
	height: 6px;
	border-radius: 48px;
	box-shadow: 0px 0px 4px rgba(56, 219, 255, 0.5);
	margin: 62px 0 46px;

	&--turquoise {
		background: #06d6df;
	}

	&--blue {
		margin-top: 73px;
		background: #7b71ee;
	}

	&--violet {
		background: #f00afe;
	}

	&:after {
		content: '';
		width: 100%;
		height: 202px;
		background: linear-gradient(359.28deg, rgba(56, 219, 255, 0.14) 0.58%,
			rgba(56, 219, 255, 0) 42.57%);
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: -202px;
		transform: rotate(180deg);
	}
}

.brand__heading {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 7px;
}

.brand__text {
	font-size: 18px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 1px;
	color: #fff;	
	opacity: 0.6;
}	

.resources {
	padding-top: 91px;
	background: #090812;
	overflow: hidden;
}

.resources__header {
	text-align: center;
	margin-bottom: 208px;
}

.resources__suptitle {
	margin-bottom: 22px;
}

.resources__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;

	&:after {
		content: '';
		width: 100%;
		height: 590px;
		background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
		filter: blur(436px);
		position: absolute;
		opacity: 0.4;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.resources__content {
	width: 100%;
	height: 540px;
	background: url('../img/resources/grid.svg') no-repeat;
	position: relative;	
}

.resources__content-inner {
	width: 100%;
	max-width: 567px;
	margin: 74px 0 45px 111px;
	text-align: center;

	&:after {
		content: '';
		width: 46px;
		height: 46px;
		background: url('../img/star.svg') no-repeat;
		position: absolute;
		left: 110px;
		bottom: -20px;
		z-index: 1;
	}
}

.resources__heading {
	font-size: 35px;
	line-height: 38px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 41px;
}

.resources__text {
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Gilroy', sans-serif;
	margin: 27px 0 70px;
}

.btn-resources {
	max-width: 254px;
	margin-left: 35px;
}

.resources__img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 770px;

	position: absolute;
	top: -80px;
	right: -160px;
	z-index: 1;
}

.resources__game {
	display: block;
	margin: 0 auto;
	position: relative;
	transform: translateY(-200px);
}

.game {
	min-height: 100vh;
	margin-top: -700px;
	background: url('../img/game/background.jpg') no-repeat center 
		/ cover;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

.game__content {
	width: 100%;
	height: 700px;
	max-width: 644px;
	margin: 30% auto 0;

	position: relative;
	background: url('../img/game/grid.svg') no-repeat;
	padding-top: 68px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&:before {
		width: 379px;
		height: 562px;

		top: 42px;
		left: -435px;
		background: url('../img/game/person-1.png') no-repeat;
	}

	&:after {
		width: 494px;
		height: 642px;

		right: -435px;
		background: url('../img/game/person-2.png') no-repeat;
	}
}

.game__content-inner {
	width: 100%;
	max-width: 583px;
	position: relative;
	text-align: center;
	margin: 0 auto;

	&:after {
		content: '';
		width: 46px;
		height: 46px;
		background: url('../img/star.svg') no-repeat;
		position: absolute;
		top: 10px;
		right: -53px;
		z-index: 2;
	}
}

.game__text {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.9);
	opacity: 0.7;

	margin: 27px 0 45px;
}

.btn-game {
	max-width: 176px;
}

.explore {
	overflow: hidden;
	background: #090812;
	padding: 235px 0 104px;
}

.explore__item {
	width: 100%;
	height: 500px;
	margin-left: -138px;
	position: relative;
	display: flex;
	z-index: 2;

	&--reverse {
		height: 410px;
		margin-top: 365px;
		margin-left: 138px;
		flex-direction: row-reverse;

		.explore__content {
			width: 1175px;
			background: url('../img/explore/grid-blur.svg') no-repeat;
		}

		.explore__column {
			max-width: 397px;
			margin-right: 61px;
		}

		.explore__heading {
			margin-bottom: 31px;
		}

		.explore__desc {
			max-width: 470px;
		}

		.explore__img {
			max-width: 1146px;
			left: -611px;
			z-index: -1;
		}
	}
}	

.explore__content {
	width: 100%;
	background: url('../img/explore/grid.svg') no-repeat;
}

.explore__content-inner {
	display: flex;
	padding: 96px 0 113px 87px;
}

.explore__column {
	width: 100%;
	max-width: 407px;
	margin-right: 86px;
}

.explore__text,
.explore__desc {
	opacity: 0.9;
	color: rgba(255, 255, 255, 0.9);
}

.explore__text {
	margin: 28px 0 38px;
}

.explore__desc {
	width: 100%;
	max-width: 397px;
}

.btn-explore {
	max-width: 176px;
}

.explore__img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 569px;
	position: absolute;
	top: 50%;
	right: -280px;
	z-index: 2;
	transform: translateY(-50%);
}

.team {
	overflow: hidden;
	padding: 137px 0 60px;
	background: url('../img/team/background.jpg') no-repeat center
		/ cover;
}

.team__header {
	text-align: center;
	margin-bottom: 40px;
}

.team__suptitle {
	margin-bottom: 16px;
}

.team__cards {
	height: 653px;
	padding-bottom: 100px;

	display: flex;
	justify-content: center;
	gap: 80px;
}

.team__card {
	transition: all .2s ease-out;
	cursor: pointer;

	&--reverse {
		display: flex;
		flex-direction: column-reverse;

		.team__desc {
			margin-top: 0;
			transform: rotate(-0.74deg);
		}

		.team__name {
			transform: rotate(0);
		}
	}

	&:hover {
		.team__desc {
			opacity: 1;
		}

		.team-social {
			opacity: 1;
			height: 60px;
		}
	}
}

.team__content {
	width: 100%;
	max-width: 237px;
	text-align: center;
	margin: 0 auto;
}

.team__desc {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #fff;
	opacity: 0.7;

	margin-top: 28px;
	transform: rotate(-0.95deg);

	&--first {
		margin-top: 5px;
	}
}

.team__name {
	font-size: 45px;
	line-height: 63px;
	text-transform: uppercase;
	transform: rotate(-1.03deg);

	margin: 5px 0;

	&--turquoise {
		color: #56ffeb;
	}	

	&--blue {
		color: #2c4dff;
	}

	&--violet {
		color: #bf3aff;
	}

	&--pink {
		color: #fb41ff;
	}
}	

.team-social {
	display: flex;
	align-items: center;
	
	height: 0;
	opacity: 0;
	transition: all .2s ease-out;
}

.team-social__link {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 14px;
	border-radius: 17px;
	transition: all .2s ease-out;
	z-index: 2;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 17px;
		background: #484071;
		transition: all .2s ease-out;
		transform: scale(0);
		z-index: -1;
	}

	&:hover {
		color: #484071;
		box-shadow: 0 0 5px #484071;
		text-shadow: 0 0 5px #484071;

		&:before {
			transform: scale(1.1);
			box-shadow: 0 0 20px #484071;	
		}
	}
}

.team__tape {
	display: block;
	position: relative;
	margin: 0 auto;
	left: -20%;
}

.faq {
	position: relative;
	background: url('../img/faq/shadow.png') no-repeat;
	padding-bottom: 50px;
}

.faq__box {
	width: 100%;
	max-width: 1345px;
	margin: 0 auto;
	
	background: url('../img/faq/faq.png') no-repeat;
}

.faq__inner {
	margin: 0 auto;
	padding: 96px 0;
}

.faq__header {
	text-align: center;
	margin-bottom: 87px;
}

.faq__suptitle {
	margin-bottom: 17px;
}

.faq__questions {
	width: 100%;
	max-width: 1204px;
	margin: 0 auto;
}

.faq__question {
	cursor: pointer;
	margin-bottom: 43px;

	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.horizontal {
			transform: rotate(90deg);
			opacity: 0;
		}

		.vertical {
			transform: rotate(90deg);
		}

		.faq__answer {
			max-height: 200px;
		}
	}
}

.faq__content {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 51px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.faq__heading {
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	color: #fff;
}

.plus {
	width: 30px;
    height: 30px;
    position: relative;
}

.horizontal {
	width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
	opacity: 1;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg);
    transition: all .4s ease-in-out;
	border-radius: 13px;
    margin-left: -15px;
    margin-top: -2px;
}

.vertical {
	width: 4px;
    height: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg);
    transition: all .4s ease-in-out;
	border-radius: 13px;
    margin-left: -2px;
    margin-top: -15px;
}

.faq__answer {
	max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
	padding-top: 20px;
}

.faq__desc {
	font-size: 24px;
	font-weight: 300;
	line-height: 38px;
	color: rgba(255, 255, 255, 0.9);
	opacity: 0.7;
}

.social {
	padding: 140px 0;
	background: url('../img/social/background.png') no-repeat center
		/ cover;
}

.social__inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.social__header {
	text-align: center;
	margin-bottom: 90px;
}

.social__suptitle {
	margin-bottom: 16px;
}

.social__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__card {
	cursor: pointer;
	position: relative;

	&:hover,
	&.active {
		.social__content {
			&--first {
				.social__img {
					&:before {
						box-shadow: 0px 8px 100px rgba(65, 198, 255, 0.8);
					}
				}
			}

			&--second {
				.social__img {
					&:before {
						box-shadow: 0px 8px 100px rgba(205, 99, 255, 0.8);
					}
				}
			}
		
			&--third {
				.social__img {
					&:before {
						box-shadow: 0px 8px 100px rgba(86, 255, 235, 0.8);
					}
				}
			}
		
			&--fourth {
				.social__img {
					&:before {
						box-shadow: 0px 8px 100px rgba(255, 138, 237, 0.8);
					}
				}
			}
		}

		.social__link {
			&:before {
				width: 100%;
			}

			&--blue {
				color: #82d9ff;
			}

			&--violet {
				color: #e3a9ff;
			}
			
			&--turquoise {
				color: #9efff4;	
			}

			&--pink {
				color: #ffb3f3;
			}
		}
	}
}

.social__content {
	text-align: center;
	position: absolute;
	top: 108px;
	z-index: 1;

	&--first {
		left: 50%;
		transform: translateX(-50%);

		.social__img {
			&:hover,
			&.active {
				&:before {
					box-shadow: 0px 8px 100px rgba(65, 198, 255, 0.8);
				}
			}
		}
	}

	&--second {
		left: 86px;

		.social__img {
			&:hover,
			&.active {
				&:before {
					box-shadow: 0px 8px 100px rgba(205, 99, 255, 0.8);
				}
			}
		}
	}

	&--third {
		left: 50%;
		transform: translateX(-50%);
		
		.social__img {
			&:hover,
			&.active {
				&:before {
					box-shadow: 0px 8px 100px rgba(86, 255, 235, 0.8);
				}
			}
		}
	}

	&--fourth {
		left: 90px;

		.social__img {
			&:hover,
			&.active {
				&:before {
					box-shadow: 0px 8px 100px rgba(255, 138, 237, 0.8);
				}
			}
		}
	}
}

.social__img {
	position: relative;
	margin: 0 auto 97px;

	&:before {
		content: '';
		width: 40%;
		height: 40%;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
		transition: all .3s ease-out
	}
}

.social-img {
	display: block;
	cursor: pointer;
}

.social__link {
	font-size: 17px;
	line-height: 24px;
	font-family: 'Mandatory-Plaything', sans-serif;
	color: #fff;

	position: relative;
	transition: all .2s ease-out;

	&:before {
		content: '';
		width: 0%;
		height: 2px;
		border-radius: 6px;
		box-shadow: 0px 0px 4px rgba(56, 219, 255, 0.5);
		transition: all .2s ease-out;
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: -5px;
	}

	&:hover,
	&.active {
		&:before {
			width: 100%;
		}
	}

	&--blue {
		text-shadow: 0px 4px 18px #82d9ff;

		&:before {
			background: #82d9ff;
		}

		&:hover,
		&.active {
			color: #82d9ff;
		}
	}

	&--violet {
		text-shadow: 0px 4px 18px #e3a9ff;

		&:before {
			background: #e3a9ff;
		}

		&:hover,
		&.active {
			color: #e3a9ff;
		}
	}
	
	&--turquoise {
		text-shadow: 0px 4px 18px #9efff4;

		&:before {
			background: #9efff4;
		}

		&:hover,
		&.active {
			color: #9efff4;
		}
	}

	&--pink {
		text-shadow: 0px 4px 18px #ffb3f3;

		&:before {
			background: #ffb3f3;
		}

		&:hover,
		&.active {
			color: #ffb3f3;
		}
	}
}

.footer {
	border-top: 1px solid #6c747b;
	background: url('../img/footer/background.png') no-repeat center
		/ cover;
}

.footer__inner {
	display: flex;
}

.footer__left {
	width: 40%;
	padding: 80px 0 63px 75px;

	img {
		display: block;
		margin-bottom: 38px;
	}
}

.footer__text {
	max-width: 154px;
	
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: #fff;
}

.footer__contact {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 230px;
	text-align: center;
	border: 1px solid #6c747b;
	border-top: none; //
}

.footer__link {
	width: 100%;
	padding: 62px 0;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}

	&:first-child {
		border-bottom: 1px solid #6c747b;
	}
}

.footer__info {
	width: 50%;
	overflow: hidden;
}


/* --- Media --- */
@media screen and (max-width: 1580px) {
	.game__content {
		&:before {
			left: -415px;
		}
	}

	.explore__item {
		margin-left: -50px;

		&--reverse {
			margin-left: 40px;

			.explore__content-inner {
				padding-left: 160px;
			}

			.explore__img {
				left: -450px;
			}
		}
	}

	.explore__column {
		margin-right: 75px;
	}

	.explore__img {
		right: -245px;
	}

	.team__cards {
		gap: 60px;
	}
}

@media screen and (max-width: 1400px) {
	.header__inner {
		padding: 0 20px;
	}

	.nav__link {
		font-size: 19px;
	}

	.resources__content-inner {
		margin-left: 80px;
	}

	.resources__img {
		right: -100px;
	}

	.game__content {
		&:before {
			left: -380px;
		}

		&:after {
			right: -420px;
		}
	}

	.explore__item {
		margin-left: -30px;

		&--reverse {
			margin-left: 20px;
			
			.explore__img {
				max-width: 1100px;
				left: -400px;
			}

			.explore__content-inner {
				padding-left: 175px;
			}
		}
	}

	.explore__content-inner {
		padding-left: 80px;
	}

	.explore__img {
		max-width: 530px;
		right: -210px;
	}

	.team__cards {
		gap: 36px;
	}

	.faq__box {
		max-width: 1255px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1120px;
	}

	.about__content {
		margin-left: 65px;
	}

	.roadmap {
		padding-top: 180px;
	}

	.roadmap__items {
		&:after {
			width: 352px;
		}
	}

	.brand {
		padding-bottom: 150px;
	}

	.brand__cards {
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}

	.brand__card {
		max-width: 446px;
	}

	.resources__header {
		margin-bottom: 170px;
	}

	.resources__content-inner {
		max-width: 498px;
		margin-left: 70px;
	}

	.resources__img {
		top: -90px;
		right: -165px;
		max-width: 720px;
	}
	
	.explore {
		padding-bottom: 65px;
	}

	.explore__item {
		margin-left: -55px;

		&--reverse {
			margin-left: 35px;
			margin-top: 300px;

			.explore__img {
				max-width: 1000px;
			}

			.explore__content-inner {
				justify-content: flex-end;
				padding: 96px 50px 113px 100px; //290
			}

			.explore__column {
				margin-right: 60px;
			}

			.explore__desc {
				max-width: 336px;
			}
		}
	}

	.explore__content-inner {
		padding-left: 70px;
	}

	.explore__column {
		margin-right: 65px;
	}

	.explore__desc {
		max-width: 294px;
	}

	.explore__img {
		max-width: 480px;
	}

	.team__cards {
		height: 1195px;

		flex-wrap: wrap;
		gap: 60px 40px;
	}

	.faq__box {
		max-width: 991px;
	}

	.faq__inner {
		padding: 35px 0 120px;
	}

	.faq__header {
		position: relative;
		top: -200px;
		margin-bottom: 0;
	}

	.faq__questions {
		max-width: 900px;
	}

	.faq__content {
		padding-bottom: 40px;
	}

	.social__header {
		margin-bottom: 80px;
	}

	.social__cards {
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px 20px;
	}

	.social__card {
		&:nth-child(3) {
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	.container {
		max-width: 860px;
	}

	.header__inner {
		padding: 0 20px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 32px;
		height: 20px;
		z-index: 10;
		cursor: pointer;
	
		span {
			width: 19px;
			height: 2px;
			border-radius: 6px;
			background: #fff;
			transition: all .1s ease-out;
			position: absolute;
			top: 9px;
			right: 0;
		}
	
		&:before,
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			border-radius: 6px;
			background: #fff; 
			transition: all .1s ease-out;
			position: absolute;
			right: 0;
		}	
	
		&:before {
			top: 0;
		}
	
		&:after {
			width: 25px;
			bottom: 0;
		}
	
		&.active {
			span {
				transform: scale(0);
			}
	
			&:after {
				width: 100%;
				bottom: 9px;
				transform: rotate(45deg);
			}
	
			&:before {
				top: 9px;
				transform: rotate(-45deg);
			}
		}
	}
	
	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		overflow: auto;
		visibility: hidden;
		background: url('../img/hero/hero.jpg') no-repeat center left
			/ cover;
		transform: translateY(-150%);
		transition-duration: .5s;
		padding: 100px 0;
	
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
	
		&.active {
			visibility: visible;
			transform: translate(0);
		}
	}
	
	.nav__link {
		font-size: 20px;
		line-height: 28px;
		
		margin: 30px 0 !important;

		&:first-child {
			margin-top: 0 !important;
		}

		&:hover,
		&.active {
			&:before {
				width: 100%;
			}
		}
	}

	.hero {
		padding: 240px 0;
	}

	.hero__content {
		padding-left: 51px;
	}

	.about__content {
		margin-left: 40px;
		padding-left: 51px;
	}

	.roadmap {
		padding: 170px 0;
	}

	.roadmap__items {
		padding: 0 20px;

		&:after {
			top: 50px;
			width: 550px;
		}
	}

	.roadmap__item {
		margin-bottom: 100px;

		&:nth-child(2) {
			margin-bottom: 100px;
		}

		&:nth-child(3) {
			margin-bottom: 200px;
		}
	}

	.brand {
		padding: 112px 0;
	}
	
	.resources__header {
		margin-bottom: 90px;
	}

	.resources__inner {
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.resources__content {
		height: auto;
		max-width: 700px;
	}

	.resources__content-inner {
		margin: 74px auto 45px;	
	}

	.resources__text {
		margin-bottom: 60px;
	}

	.resources__img {
		position: static;
	}

	.resources__game {
		max-width: 1600px;
		transform: translateY(-355px);
	}

	.game__content {
		&:before,
		&:after {
			display: none;
		}
	}

	.explore {
		padding: 240px 0 0;
	}

	.explore__item {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-left: -55px;
		height: auto;

		&--reverse {
			.explore__content {
				width: 1430px;
				max-width: inherit;
				margin: 0 0 80px 0;
			}

			.explore__content-inner {
				padding: 70px 0;
			}

			.explore__column {
				margin: 0;
			}

			.explore__img {
				left: -240px;
			}
		}
	}	

	.explore__content {
		max-width: 600px;
		margin: 0 auto 0 50px;
	}

	.explore__content-inner {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		padding: 80px 0 50px;
	}

	.explore__column {
		max-width: 406px;
		margin: 0 75px 0 0;
	}

	.explore__desc {
		display: none;
	}

	.explore__img {
		max-width: 420px;
		right: -100px;
	}

	.faq__box {
		max-width: 860px;
		background-size: 100% 100%;
	}

	.faq__inner {
		padding: 0 0 120px 0;
	}

	.faq__header {
		top: -160px;
	}

	.faq__heading {
		font-size: 28px;
		line-height: 40px;
	}

	.faq__questions {
		max-width: 750px;
	}

	.social {
		overflow: hidden;
		padding: 110px 0;
	}

	.social__cards {
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin-left: 20px;
		gap: 34px;
	}

	.social__card {
		&:nth-child(3) {
			display: block;
		}
	}

	.footer__left {
		padding: 60px 0 60px 40px;
	}

	.footer__info {
		display: flex;
		align-items: center;
	}

	.footer__img {
		display: block;	
		max-width: 900px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 640px;
	}

	.hero {
		padding: 180px 0 140px;
	}

	.hero__content {
		max-width: 580px;

		&:after {
			top: -16px;
		}
	}

	.hero__title {
		font-size: 44px;
		line-height: 62px;
		margin: 10px 0 35px;
	}

	.title {
		font-size: 42px;
		line-height: 46px;
	}

	.about {
		padding: 170px 0;
	}

	.about__content {
		max-width: 560px;
		margin-left: 10px;

		&:after {
			width: 540px;
		}
	}

	.about__text {
		margin: 25px 0 45px;
	}

	.roadmap {
		padding: 120px 0;
	}

	.roadmap__items {
		&:after {
			display: none;
		}
	}

	.roadmap__item {
		margin-bottom: 120px;

		&:nth-child(2) {
			max-width: 413px;
			margin-bottom: 120px;

			.roadmap__circle {
				top: -40px;

				&:before {
					box-shadow: 0 4px 90px 30px rgb(255 68 236 / 40%);
				}
			}
		}
		
		&:nth-child(3) {
			margin-bottom: 170px;

			.roadmap__circle {
				top: -20px;
				right: -110px;

				&:before {
					box-shadow: 4px 14px 90px 30px rgb(68 255 199 / 40%);
				}
			}
		}

		&:last-child {
			max-width: 388px;

			.roadmap__circle {
				top: -36px;
				left: -174px;
				
				&:before {
					box-shadow: -16px -8px 90px 30px rgb(68 255 244 / 40%);
				}
			}
		}
	}

	.roadmap__circle {
		right: -85px;

		&:before {
			box-shadow: 0 4px 90px 30px rgb(195 68 255 / 50%);
		}
	}

	.brand {
		padding: 90px 0;

		.roadmap__header {
			margin-bottom: 70px;
		}
	}

	.brand__suptitle {
		margin-bottom: 16px;
	}

	.brand__card {
		max-width: 434px;
	}

	.resources {
		padding: 90px 0 120px;
	}

	.resources__content {
		max-width: 625px;
	}

	.resources__content-inner {
		max-width: 440px;
		margin-top: 50px;
	}

	.resources__text {
		margin-bottom: 50px;
	}

	.btn-resources {
		margin-left: 10px;
	}

	.resources__game {
		max-width: 1000px;
		transform: translateY(-220px);
	}

	.game__content {
		max-width: 560px;
	}

	.game__content-inner {
		max-width: 442px;

		&:after {
			right: -80px;
		}
	}

	.game__content {
		height: auto;
		padding-top: 60px;

	}

	.game__text {
		margin-bottom: 50px;
	}

	.explore {
		padding-top: 110px;
	}

	.explore__item {
		margin-left: 0;

		&--reverse {
			margin-top: 70px;

			.explore__img {
				position: static;
			}

			.explore__content {
				margin: 0 60% 0 0;
			}

			.explore__content-inner {
				padding: 60px 0 40px;
			}

			.explore__column {
				margin-left: 10%;
			}
		}
	}

	.explore__content {
		max-width: 560px;
		margin: 0 auto;
	}

	.explore__content-inner {
		padding: 60px 0 40px;
	}

	.explore__column {
		margin: 0 auto;
	}

	.explore__img {
		position: static;
		max-width: 366px;
		transform: translateY(20px);
	}

	.explore__text {
		margin-bottom: 32px;
	}

	.team {
		padding: 100px 0 60px;
	}

	.team__cards {
		height: auto;
		padding-bottom: 0;
		gap: 40px;
	}

	.team__card {
		height: 584px;

		&--reverse {
			flex-direction: column;

			.team__desc {
				margin-top: 28px;
			}
		}
	}

	.faq__box {
		max-width: 570px;
	}

	.faq__inner {
		padding-bottom: 70px;
	}

	.faq__header {
		top: -150px;
	}

	.faq__questions {
		max-width: 500px;
	}

	.faq__question {
		&.active {
			.faq__answer {
				max-height: 260px;
			}
		}
	}

	.faq__heading {
		font-size: 26px;
		line-height: 38px;
		max-width: 415px;
	}

	.social {
		padding: 100px 0;
	}

	.social__cards {
		overflow: hidden;
		flex-wrap: nowrap;
	}

	.footer__left {
		padding: 40px 0 40px 20px;
	}

	.footer__link {
		padding: 44px 0; 
	}

	.footer__img {
		max-width: 700px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		max-width: 510px;
	}

	.header {
		height: auto;
		padding: 25px 0;
	}

	.nav {
		align-items: flex-start;
	}
	
	.nav__link {
		font-size: 20px;
		line-height: 28px;
		
		margin: 20px 0 20px 20px !important;

		&:first-child {
			margin-top: 0 !important;
		}

		&:hover,
		&.active {
			&:before {
				width: 100%;
			}
		}
	}

	.hero__content {
		max-width: 460px;
		padding-left: 39px;

		&:after {
			top: -30px;
			height: 341px;
		}
	}

	.suptitle {
		font-size: 16px;
		line-height: 22px;
	}

	.hero__title {
		font-size: 30px;
		line-height: 36px;
		margin: 5px 0 32px;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.btn {
		max-width: 188px;
		padding: 15px 0;

		font-size: 16px;
		line-height: 24px;
	}

	.title {
		font-size: 28px;
		line-height: 30px;
	}

	.text {
		font-size: 16px;
		line-height: 26px;
	}

	.about {
		padding: 150px 0;
	}

	.about__content {
		max-width: 370px;
		padding-left: 45px;

		&:after {
			top: -30px;
			width: 370px;
		}
	}

	.about__text {
		margin: 30px 0 25px;
	}

	.about__footer img {
		max-width: 100%;
	}

	.roadmap {
		padding: 90px 0;
	}

	.roadmap__item {
		margin-bottom: 180px;

		.roadmap__circle {
			right: 35px;
		}
		
		&:nth-child(2),
		&:nth-child(3),
		&:last-child {
			.roadmap__circle {
				background-size: contain;
			}
		}

		&:nth-child(2) {
			margin-bottom: 160px;

			.roadmap__circle {
				top: -110px;
				left: 65px;
			}
		}

		&:nth-child(3) {
			margin-bottom: 180px;
			
			.roadmap__circle {
				top: -110px;
				right: 65px;
				left: inherit;
			}
		}

		&:last-child {
			.roadmap__circle {
				top: -130px;
				left: 30px;
			}
		}

		&--right {
			margin-left: 0;
		}
	}

	.roadmap__circle {
		width: 94px;
		height: 94px;
		background-size: contain;
		top: -43px;
		right: 0;
	}

	.roadmap__heading {
		font-size: 20px;
		line-height: 28px;
	}

	.roadmap-list__item {
		font-size: 15px;
		line-height: 21px;
	}

	.roadmap__link {
		justify-content: flex-start;
	}

	.brand {
		padding: 60px 0;

		.roadmap__header {
			margin-bottom: 50px;
		}
	}

	.brand__cards {
		gap: 44px;
		padding: 0 10px;
	}

	.brand__card {
		max-width: 350px;
	}

	.brand__img {
		width: 100%;
		max-width: 300px;
	}

	.brand__line {
		margin: 55px 0 30px;
	}

	.resources {
		padding: 80px 0;
	}

	.resources__header {
		margin-bottom: 20px;
	}

	.resources__suptitle {
		margin-bottom: 20px;
	}

	.resources__inner {
		flex-direction: column-reverse;
	}

	.resources__img {
		max-width: 470px;
	}

	.resources__content {
		overflow: hidden;
		max-width: 575px;
		margin-left: 40px;
	}

	.resources__content-inner {
		max-width: 310px;
		margin: 41px 0 100px 44px;
		text-align: left;

		img {
			display: block;
			width: 40px;
			height: 40px;
		}

		&:after {
			right: 30px;
			left: inherit;
			bottom: 30px;
		}
	}

	.resources__heading {
		font-size: 24px;
		line-height: 26px;
		margin-top: 24px;
	}

	.resources__text {
		margin: 24px 0 31px;
	}

	.btn-resources {
		margin-left: 0;
		max-width: 234px;
	}

	.resources__game {
		max-width: 800px;
		transform: translateY(-100px);
	}

	.game {
		margin-top: -370px;
	}

	.game__content {
		height: 1026px;
		max-width: 351px;
		padding-top: 40px;

		&:before,
		&:after {
			display: block;
		}

		&:before {
			top: 500px;
			left: 150px;
			background: url('../img/game/media/person-1.png') no-repeat;
		}

		&:after {
			top: 560px;
			right: -100px;
			background: url('../img/game/media/person-2.png') no-repeat;
		}
	}

	.game__content-inner {
		max-width: 351px;
		padding: 0 10px;

		&:after {
			display: none;
		}
	}

	.game__text {
		text-align: center;
		margin: 12px auto 32px;
	}

	.btn-game {
		max-width: 176px;
	}

	.explore {
		padding: 85px 0 100px;
	}	

	.explore__item {
		&--reverse {
			position: relative;

			.explore__img {
				position: absolute;
				top: 10px;
				left: -130px;
			}

			.explore__content {
				margin: 0;
				height: 465px;
				max-width: 370px;
				background: url('../img/explore/grid-bottom.svg') no-repeat;
				z-index: 10;
			}

			.explore__content-inner {
				max-width: 246px;
				padding: 90px 0 0;
				margin: 0 auto;
			}	

			.explore__column,
			.explore__desc {
				max-width: 279px;
			}

			.explore__column {
				height: 72px;
				margin-left: 0;
			}

			.explore__heading {
				margin-bottom: 0;
			}

			.btn-explore {
				top: 150px;
			}
		}
	} 

	.explore__content {
		max-width: 370px;
		background: url('../img/explore/grid-rotate.svg') no-repeat;
	} 	

	.explore__content-inner {
		text-align: left;
		padding: 53px 0 240px 10px;
	}

	.explore__column {
		height: 120px;
		max-width: 322px;
	}

	.explore__text {
		margin: 22px 0 32px; 
	}

	.explore__desc {
		display: block;
		max-width: 322px;
	}

	.btn-explore {
		position: relative;
		top: 180px;
	}

	.explore__img {
		max-width: 260px;
		transform: translateY(-120px);
	}

	.team {
		padding: 80px 0;
		background-position: top;
	}

	.team__card,
	.team__card img {
		max-width: 290px;
	}

	.team__card {
		&:not(:first-child) {
			height: 520px;
		}
	}

	.team__tape {
		max-width: 1300px;
	}

	.faq {
		padding-bottom: 60px;
	}

	.faq__header {
		top: -105px;
	}

	.faq__box {
		max-width: 350px;
		background: url('../img/faq/faq-media.png') no-repeat;
	}

	.faq__inner {
		padding-bottom: 50px;
	}

	.faq__questions {
		max-width: 315px;
	}

	.faq__question {
		margin-bottom: 20px;

		&.active {
			.faq__answer {
				max-height: 178px;
			}
		}
	}

	.faq__content {
		padding-bottom: 24px;
	}

	.faq__heading {
		font-size: 16px;
		line-height: 22px;
		max-width: 250px;
	}

	.faq__desc {
		font-size: 16px;
		line-height: 26px;
	}

	.plus {
		width: 16px;
		height: 16px;
	}

	.horizontal {
		width: 16px;
		height: 2px;
		margin-left: -8px;
    	margin-top: -1px;
	}

	.vertical {
		width: 2px;
		height: 16px;
		margin-left: -1px;
   		margin-top: -8px;
	}

	.social {
		position: relative;

		&:after {
			content: '';
			width: 283px;
			height: 300px;
			border-radius: 100%;
			background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
			transform: matrix(0.85, -0.38, -0.61, -0.9, 0, 0);
			filter: blur(217.031px);
			opacity: 0.65;

			position: absolute;
			top: -30px;
			right: -50px;
			z-index: -1;
		}
	}

	.social__header {
		margin-bottom: 55px;
	}

	.social__cards {
		gap: 0px;
		margin-left: 30px;
	}

	.social__card {
		&:first-child {
			display: block;
		}
	}

	.footer {
		display: none;
	}
}

@media screen and (max-width: 390px) {
	.hero__content {
		max-width: 375px;

		&:after {
			height: 380px;
		}
	}

	.hero__title {
		font-size: 26px;
		line-height: 36px;
		margin: 3px 0 30px;
	}

	.btn {
		max-width: 170px;
		padding: 14px 0;

		font-size: 15px;
	}

	.about__content {
		max-width: 320px;
		padding-left: 30px;
		margin-left: 0;

		&:after {
			width: 100%;
		}
	}

	.roadmap__item {
		.roadmap__circle {
			top: -50px;
			right: 5px;
		}
	}

	.brand__img,
	.team__card, 
	.team__card img {
		max-width: 230px;
	}

	.resources__content {
		margin-left: 0;
	}

	.resources__content-inner {
		max-width: 245px;
	}

	.btn {
		max-width: 190px;
	}

	.game__content {
		margin-top: 50%;	

		&:before {
			left: 135px;
		}

		&:after {
			top: 575px;
			right: -120px;
		}
	}

	.explore__item {
		&--reverse {
			position: relative;

			.explore__img {
				top: 75px;
				left: -150px;
			}
		}
	}

	.explore__content {
		max-width: 310px;
	}

	.explore__column,
	.explore__desc {
		max-width: 280px;
	}

	.explore__column {
		height: 143px;
	}

	.btn-explore {
		top: 195px;
	}

	.faq__box {
		max-width: 310px;
	}

	.faq__inner {
		padding-bottom: 30px;
	}

	.faq__questions {
		max-width: 282px;
	}

	.faq__heading {
		font-size: 15px;
	}

	.faq__desc {
		font-size: 15px;
		line-height: 25px;
	}
}